@import "reset.scss";
@import "variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  transition: 0.4s;
}

html {
  font-family: "Inter";
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  @media (max-width: 1300px) {
    font-size: 14px;
  }
  // @media (max-width:525px) {
  //     font-size: 12px;
  // }
}

body {
  position: relative;
}

a,
p,
li {
  @include paragraph;
}

img {
  object-fit: cover;
}

header,
main,
footer {
  width: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  // box-sizing: content-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1440px;
  // @media (max-width: 1300px) {
  //     max-width: 1100px;
  // }
}

main {
  flex: 1;
}

h1 {
  @include h1;
}
h2 {
  @include h2;
}
h3 {
  @include h3;
}
h4 {
  @include h4;
}
p,
li {
  @include paragraph;
}

// .section-title {
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
//   align-items: center;
//   h1 {
//     text-align: center;
//   }
//   div {
//     width: fit-content;
//     display: flex;
//     align-items: center;
//     gap: 8px;
//     img {
//       width: 40px;
//     }

//     hr {
//       display: block;
//       width: 100px;
//       height: 1px;
//       border: 0;
//       border-top: 1px solid $black;
//     }
//   }
// }

.hidden {
  display: none;
}
