@import "../../styles/variables.scss";

.subscription_block {
  padding: 5rem;
  margin: 10rem auto;
  border-radius: 3.75rem;
  width: 100%;
  background: $sky-blue;
  position: relative;
  overflow: hidden;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    h2,
    p {
      text-align: center;
    }
    p {
      margin: 1.5rem 0 4rem 0;
    }
    form {
      width: 100%;
      max-width: 480px;
      display: flex;
      padding: 0.625rem 0.625rem 0.625rem 2rem;
      background: $white;
      border-radius: 1.5rem;
      input[type="email"] {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;

        &:focus {
          outline: none;
          border: none;
        }
      }
    }
    img {
      position: absolute;
      border-radius: 1.5rem;
    }
    .imageLeft {
      left: 0;
      bottom: 0;
    }
    .imageRight {
      right: 0;
      bottom: 0;
    }
  }
}
