@import "../../styles/variables.scss";

.ad_section {
  margin-top: 3rem;

  .ad_image {
    position: relative;
    width: 100%;
    min-height: 434px;
    margin: 1rem 0;
    overflow: hidden;
    border-radius: 1.5rem;
  }

  .ad_title {
    font-family: "Lobster";
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    color: $white;
    position: absolute;
    text-align: center;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .ad_main_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 10;
    border-radius: 1.5rem;
  }

  .ad_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: 1;
    border-radius: 1.5rem;
  }

  p {
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    @include paragraph;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
    z-index: 10;
  }
}
