@import "../../styles/variables.scss";

.recipies_slider {
  width: 100%;
  overflow: hidden;
  margin: 2.5rem 0;
  .swiper {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .swiper-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .swiper-slide {
    width: 100%;
    max-width: 100%;
  }

  .recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 2rem;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    .recipe_info {
      display: flex;
      flex-direction: column;
      padding: 50px;
      background: $sky-blue;
      .recipe_category {
        padding: 0.75rem 1.25rem;
        border-radius: 30px;
        background: $white;
        width: fit-content;
        span {
          font-size: 0.875rem;
          font-weight: 600;
        }
      }

      h1 {
        margin: 2rem 0 1.5rem 0;
      }

      p {
      }

      .recipe_tags {
        margin: 1.875rem 0 6.5rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        .tag {
          padding: 0.5rem 1rem;
          border-radius: 30px;
          gap: 0.25rem;
          background: rgba(0, 0, 0, 0.05);
          img {
          }

          p {
          }
        }
      }

      .recipe_bottom {
        flex: 1;
        width: 100%;
        justify-content: space-between;
        display: flex;
        .author {
          display: flex;
          gap: 1.75rem;
          align-items: center;
          img {
            width: 3.125rem;
            height: 3.125rem;
            border-radius: 50%;
            object-fit: cover;
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            span {
              font-weight: 600;
            }
          }
        }
      }
    }

    .recipe_image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.categories {
  margin: 10rem 0;
  .categories_container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .categories_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
    }
  }

  .categories_list {
    display: flex;
    justify-content: space-between;
    .category_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 30px;
      gap: 3rem;
      background: linear-gradient(
        to bottom,
        transparent,
        rgba(112, 130, 70, 0.1)
      );
      padding: 0 2.5rem 1.875rem 2.5rem;
      img {
        border-radius: 1.5rem;
      }

      span {
        color: $black;
        font-size: 1.125rem;
        font-weight: 600;
      }
    }
  }
}

.recipes {
  .recipes_header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 6rem;
    align-items: center;
    text-align: center;
    * {
      max-width: 700px;
    }
  }

  .recipies_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

    a {
    }
  }
}

.chef {
  margin: 10rem 0;
  .chef_container {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 2.75rem;
  }

  .chef_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
    }

    p {
      margin: 1.5rem 0 4.5rem 0;
    }

    a,
    button {
      width: fit-content;
      align-self: flex-start;
    }
  }

  .chef_image_wrapper {
    background: linear-gradient(to bottom, transparent, rgba(231, 249, 253, 1));
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
  }

  img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
}

.instagram {
  padding-bottom: 5rem;
  background: linear-gradient(to bottom, transparent, rgba(231, 249, 253, 1));
  margin-bottom: 10rem;
  .instagram_header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    align-items: center;
    text-align: center;
    * {
      max-width: 840px;
    }
    h2 {
    }

    p {
    }
  }

  .instagram_grid {
    margin: 5rem 0;
    display: flex;
    gap: 2.5rem;
    img {
      width: 100%;
    }
  }

  a,
  button {
    width: fit-content;
    align-self: flex-start;
    margin: 0 auto;
  }
}

.recipes_tasty_grid {
  .recipes_tasty_grid_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 5rem;
  }
  .recipes_tasty_grid_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}
