@import "../../styles/variables.scss";

.btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 160px;
  font-size: 1rem;
  padding: 1.25rem 3rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  
  // Primary (по умолчанию)
  background: $black;
  border: 1px solid $black;
  color: $white;
  
  &:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

// Primary вариант (явно указанный)
.primary {
  background: $black;
  border: 1px solid $black;
  color: $white;
  
  &:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black;
  }
}

// Secondary вариант
.secondary {
  background: $sky-blue;
  border: 1px solid $sky-blue;
  color: $black;
  
  &:hover {
    background-color: $black;
    color: $white;
    border: 1px solid $black;
  }
}

svg {
  display: block;
  width: 24px;
  height: 24px;
}
