@import "../../styles/variables.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  img {
    border-radius: 1.5rem;
    min-height: 200px;
  }
  .card_info {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .card_details {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      div {
        display: flex;
        align-items: center;
        gap: 0.75rem;
      }
    }
  }
  .heart {
    background: $white;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0.75rem;
  }
  .heart.liked {
    color: #ff6363;
  }
}

.blue_bg {
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(
    178deg,
    rgba(231, 249, 253, 0) 0%,
    rgba(231, 249, 253, 1) 100%
  );
  img {
    min-height: 250px;
  }
  .card_info {
    padding: 1.5rem 0.5rem 1rem 0.5rem;
  }
  .heart {
    top: 9%;
    right: 9%;
  }
}
